---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Astro";
const pageDescription = "";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="container">
    <h1 class="text-brand my-4 font-serif text-5xl">
      {pageTitle}
    </h1>
    <p>Content</p>
  </div>
</BaseLayout>
